header {
    background: url('../assets/image-1@2x.png') center;
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 100vh; 
    position: relative;
} 
h1, 
h2 {
    margin: 0;
    padding: 0;
    color: #fff;
}
.pcNav {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding-top: 25px;
        ul { 
            display: flex;
            flex-direction: row;
                li {
                    margin-right: 30px; 
                }
        }
}

.frontHeaders {
    position: absolute;
    bottom: 175px;
        h2 {
            margin-top: 10px;
        }
}
.iconNav {
    color: #fff;
    position: absolute;
    bottom: 50px;
    right: 100px;
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
                li {
                    margin-top: 15px;
                }
        }
}
.hamburgerMenu {
    display: none; 
    margin-left: auto; 
}
.fa-bars {
    color: white;
}
.sliding-menu {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    background: #000; 
    width: 300px; 
    position: fixed; 
    top: 0; 
    left: -999999px;  
    margin: 0; 
    padding: 0;
    z-index: 999;
        li {
            width: 100%;  
                a {
                    display: inline-block;
                    padding: 20px;
                    width: 100%; 
                    border: 1px solid #fff;
                        &:hover,    
                        &:focus {
                            background: #fff;
                            color: #000; 
                        }
                }
        }
} 
input[type="checkbox"] {
    appearance: none;
        &:checked+.sliding-menu {
            left: 0;
        }
}