header {
    background: url('../assets/image-1@2x.png');
    background-size: cover; 
    height: 100vh; 
}
header h2,
header a {
    color: #fff; 
}
header nav {
    display: flex; 
    justify-content: space-between;
}
header ul {
    display: flex;
    flex-direction: row;
}
header li {
    margin-right: 20px;
}