//    news section style 
.news h2 {
    margin: 100px 0; 
    text-align: center; 
}
.news ul {
    display: flex;
    justify-content: space-between; 
    padding: 0;
        li {
            width: 32%;
            margin-bottom: 100px;
        }
}
//    highlight section style
.highlight .wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.highlightImg {
    width: 25%;
}
.highlightContent {
    width: 73%;   
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start; 
}
.button {
    background-color: $scarlet; 
    padding: 10px 25px;
    display: inline-block; 
    margin-top: 20px; 
}
.heading {
    margin-bottom: 15px; 
}
// models section
.newModels,
.nightModels {
    display: flex;
}
.newModels div,
.nightModels div { 
    width: 50%;
}
.newModelsContent,
.nightModelsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} 
//  shop brand/jobs/events section
.endNav {
    background: url("../assets/oscar-aguilar-327500-unsplash@2x.png") center;
    background-size: contain;   
    padding: 100px 0; 
        ul {
            display: flex; 
            justify-content: space-evenly; 
            align-items: center;
                a {
                    display: flex; 
                    flex-direction: column;
                    justify-content: center; 
                    align-items: center; 
                        h3 {
                            font-size: 2rem;
                            color: #fff;
                            margin: 0;
                        }
                }
        }
}
// stay updated footer section
.stayUpdated {
    background: $wineRed; 
    padding-top: 100px;  
        .wrapper { 
            display: flex; 
            justify-content: space-between;
            text-align: left; 
            color: #fff; 
                h4 {
                    margin: 0; 
                }
        }
}
.updatedLeft {
    width: 60%; 
}
.updatedRight {
    width: 30%;
}
.updatedNav {
    width: 10%; 
}
form {
    margin-top: 10px;
        input {
            width: 60%; 
            padding: 10px 0; 
            padding-left: 20px;
            border: none;
        }
        button {
            background: #000;
            color: #fff; 
            border: none; 
            padding: 0px 30px;
        }
}
.updatedNav {
    text-align: right;
        a {
            font-weight: bold;
        }   
}
footer {
    display: relative; 
}
.copyright {
    color: #fff;
    background-color: #000; 
    margin-top: 50px; 
    padding: 10px;
}
// fs
.fa-red {
    color: $scarlet;
}
