@import 'setup';
@import 'utils';
@import 'typography';
@import 'nav';
@import 'header';
@import 'main';
@import 'footer';

html {
    font-size: 62.5%;
}
img {
    max-width: 100%;
    display: block;
}
.wrapper {
    max-width: 1400px;
    width: 85%;
    margin: 0 auto;
}
a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; 
}
ul li {
    list-style: none;
}
.caps,
.heading:not(.noCap) {
    text-transform: uppercase;
}