html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(204, 29, 54);
  font-family: "Kanit", sans-serif;
  font-size: 11.62rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  line-height: 97px;
  letter-spacing: 1px;
}

.heading,
.button {
  font-family: "Kanit", sans-serif;
}

.button {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  line-height: 29px;
  text-align: center;
}

nav {
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
  line-height: 29px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 29px;
  margin: 0;
  padding: 0;
}

footer {
  font-family: "Roboto", sans-serif;
  line-height: 29px;
  text-align: center;
}

.navLeft p,
.heading {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.subscribe {
  line-height: 42px;
}

header {
  background: url("../assets/image-1@2x.png") center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

header h2 {
  color: #fff;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

.pcNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
}
.pcNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.pcNav ul li {
  margin-right: 30px;
}

.frontHeaders {
  position: absolute;
  bottom: 175px;
}
.frontHeaders h2 {
  margin-top: 10px;
}

.iconNav {
  color: #fff;
  position: absolute;
  bottom: 50px;
  right: 100px;
}
.iconNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.iconNav ul li {
  margin-top: 15px;
}

.hamburgerMenu {
  display: none;
  margin-left: auto;
}

.fa-bars {
  color: white;
}

.sliding-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background: #000;
  width: 300px;
  position: fixed;
  top: 0;
  left: -999999px;
  margin: 0;
  padding: 0;
  z-index: 999;
}
.sliding-menu li {
  width: 100%;
}
.sliding-menu li a {
  display: inline-block;
  padding: 20px;
  width: 100%;
  border: 1px solid #fff;
}
.sliding-menu li a:hover, .sliding-menu li a:focus {
  background: #fff;
  color: #000;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input[type=checkbox]:checked + .sliding-menu {
  left: 0;
}

.news h2 {
  margin: 100px 0;
  text-align: center;
}

.news ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.news ul li {
  width: 32%;
  margin-bottom: 100px;
}

.highlight .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.highlightImg {
  width: 25%;
}

.highlightContent {
  width: 73%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.button {
  background-color: rgb(186, 6, 33);
  padding: 10px 25px;
  display: inline-block;
  margin-top: 20px;
}

.heading {
  margin-bottom: 15px;
}

.newModels,
.nightModels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newModels div,
.nightModels div {
  width: 50%;
}

.newModelsContent,
.nightModelsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 7%;
}

.endNav {
  background: url("../assets/oscar-aguilar-327500-unsplash@2x.png") center no-repeat;
  background-size: auto 500px;
  padding: 100px 0;
}
.endNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.endNav ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.endNav ul a h3 {
  font-size: 2rem;
  color: #fff;
  margin: 0;
}

.fa-red {
  color: rgb(186, 6, 33);
}

.stayUpdated {
  background: rgb(108, 9, 24);
  padding-top: 100px;
}
.stayUpdated .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  color: #fff;
}
.stayUpdated .wrapper h4 {
  margin: 0;
}

.contactAndNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

.updatedLeft {
  width: 60%;
}

form {
  margin-top: 10px;
}
form input {
  width: 60%;
  padding: 10px 0;
  padding-left: 20px;
  border: none;
}
form button {
  background: #000;
  color: #fff;
  border: none;
  padding: 0px 30px;
}

.updatedNav {
  text-align: right;
}
.updatedNav a {
  font-weight: bold;
}

footer {
  display: relative;
}

.copyright {
  color: #fff;
  background-color: #000;
  margin-top: 50px;
  padding: 10px;
}

@media (max-width: 1100px) {
  p {
    font-size: 1.8rem;
  }
  .news h2 {
    margin: 50px 0;
  }
  .news h2 li {
    margin-bottom: 50px;
  }
  .highlight .wrapper {
    margin-bottom: 50px;
  }
  .highlight .wrapper .highlightImg {
    width: 40%;
  }
  .highlight .wrapper .highlightContent {
    width: 58%;
  }
}
@media (max-width: 1000px) {
  h1 {
    font-size: 6rem;
    line-height: 70px;
  }
  .highlight .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .highlight .wrapper .highlightContent {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .highlight .wrapper .highlightContent h2 {
    text-align: center;
  }
  .highlight .wrapper .highlightImg {
    width: 100%;
  }
  .newModels {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .nightModels {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newModels div,
.nightModels div {
    width: 100%;
  }
  .newModelsContent,
.nightModelsContent {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .newModelsContent h2,
.nightModelsContent h2 {
    text-align: center;
  }
  .newModelsContent .button,
.nightModelsContent .button {
    margin-bottom: 50px;
  }
  .endNav {
    padding: 50px 0;
  }
  .endNav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .endNav ul li:not(:first-child) {
    margin-top: 40px;
  }
  .stayUpdated {
    padding-top: 50px;
  }
  .stayUpdated .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stayUpdated .wrapper h4 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 4px;
  }
  .stayUpdated .wrapper .updatedLeft p {
    text-align: center;
    margin-top: 10px;
  }
  .stayUpdated .wrapper .updatedLeft,
.stayUpdated .wrapper .contactAndNav {
    width: 100%;
  }
  .stayUpdated .wrapper .updatedRight h4 {
    text-align: left;
    margin: 10px 0;
  }
  form {
    margin-top: 20px;
  }
  form input,
form button {
    width: 100%;
  }
  form input {
    text-align: center;
  }
  form button {
    margin-top: 10px;
  }
}
@media (max-width: 550px) {
  .pcNav,
.iconNav {
    display: none;
  }
  .hamburgerMenu {
    display: block;
  }
  .news ul li {
    width: 49%;
  }
  .news ul li:last-child {
    display: none;
  }
  .highlightImg {
    width: 100%;
  }
}
html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

span {
  display: block;
}

.wrapper {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

ul li {
  list-style: none;
}

.caps,
.heading:not(.noCap) {
  text-transform: uppercase;
}